<section>

  <div class="flex flex-col md:flex-row justify-between items-center gap-4">
    <div class="w-full md:w-[28%] bg-white shadow-lg rounded-[10px] p-4">
      <div class="text-center">
        <h3 class="text-[20px] md:text-[22px] font-bold mb-[20px] text-primaryTitle">
          Moods <i class="fa fa-location rounded-[10px] p-3 "></i>
        </h3>
      </div>
    </div>
    <div class="bg-white w-full md:w-[70%] shadow-lg rounded-[10px] p-4">
      <div>
        <div class="w-full flex justify-between items-center gap-3  ">
          <div class="text-center">
            <h2 class="text-[18px] md:text-[22px] font-bold text-primaryTitle mb-[10px]">
              All
            </h2>

            <div class="w-fit mx-auto ">
              <p
                class="px-[20px] py-[2px]  text-[15px] md:text-[20px] font-medium bg-[#57aeec] text-white rounded-[10px] ">
                5
              </p>
            </div>
          </div>
          <div class="text-center">
            <h2 class="text-[18px] md:text-[22px] font-bold text-primaryTitle mb-[10px]">
              New
            </h2>
            <div class="w-fit mx-auto ">
              <p
                class="px-[20px] py-[2px] text-[15px] md:text-[20px] font-medium bg-[#fbc45d] text-white rounded-[10px] ">
                4
              </p>
            </div>
          </div>
          <div class=" text-center">
            <h2 class="text-[18px] md:text-[22px] font-bold text-primaryTitle mb-[10px]">
              In progress
            </h2>
            <div class="w-fit mx-auto ">
              <p
                class=" px-[20px] py-[2px]  text-[15px] md:text-[20px] font-medium bg-[#000] text-white rounded-[10px] ">
                3
              </p>

            </div>
          </div>
          <div class=" text-center">
            <h2 class="text-[18px] md:text-[22px] font-bold text-primaryTitle mb-[10px]">
              Completed
            </h2>
            <div class="w-fit mx-auto ">
              <p
                class=" px-[20px] py-[2px]  text-[15px] md:text-[20px] font-medium bg-gray-500 text-white rounded-[10px] ">
                2
              </p>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

    <!-- Table -->
  <div class="min-w-full overflow-x-auto py-4">
    <table class="min-w-full bg-white border border-gray-200 rounded-lg shadow-md">
      <thead>
        <tr class="bg-gray-900 text-gray-100 text-center whitespace-nowrap">
          <th class="py-3 px-4 border-b ">#</th>
          <th class="py-3 px-4 border-b ">Tasks</th>
          <th class="py-3 px-4 border-b">Date</th>
          <th class="py-3 px-4 border-b">Rate</th>
          <th class="py-3 px-4 border-b">Number of Questions </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let task of table" class="hover:bg-gray-50 transition text-center whitespace-nowrap">
          <td class="py-3 px-4 border-b">
            {{task.id}}
          </td>
          <td class="py-3 px-4 border-b">
            <p class="hover:text-primary cursor-pointer " routerLink="{{task.link}}" >
              {{task.task}}
            </p>
          </td>
          <td class="py-3 px-4 border-b">
            {{task.date}}
          </td>
          <td class="py-3 px-4 border-b">
            {{task.rate}}
          </td>
          <td class="py-3 px-4 border-b">
            {{task.numberOfQuations}}
          </td>
        </tr>

      </tbody>
    </table>
  </div>

</section>
