<div class="  flex items-center bg-gray-800 justify-between relative">



  <div class=" w-full md:w-[70%] lg:w-[50%] flex justify-center items-center h-full relative z-10 bg-white ">

    <!-- Register Card -->
    <div class=" w-[90%]  mx-auto p-6">
      <div class="flex justify-center">
        <img class=" w-[180px]  " src="assets/images/auth/logo.webp" alt="Logo Image">
      </div>

      <h2
        class="text-[#374151] text-[18px] md:text-[18px] lg:text-[25px] leading-[30px] font-bold text-center mb-[8px]">
        Welcome to Al Lulu Resturant
      </h2>
      <p class="text-center text-[16px] md:text-[20px] text-[#4B5563] mb-4">
        Create your account
      </p>

      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="space-y-3">

         <!-- Full Name -->
        <div class="space-y-2">
          <label class="text-[18px] md:text-[20px] font-medium text-[#374151] flex items-center gap-2">Full Name</label>
          <input type="text" placeholder="John Doe" formControlName="fullName"
            class="w-full py-2 border border-[#9CA3AF] text-gray-600 text-[18px] rounded-lg px-4 focus:outline-none " />
          <div *ngIf="registerForm.get('fullName')?.touched && registerForm.get('fullName')?.invalid"
            class="text-red-500 text-sm">
            Full Name is required.
          </div>
        </div>

        <!-- Email -->
        <div class="space-y-2">
          <label class="text-[18px] md:text-[20px] font-medium text-[#374151] flex items-center gap-2">Email</label>
          <input type="email" placeholder="admin@restaurant.com" formControlName="email"
            class="w-full py-2 border border-[#9CA3AF] text-gray-600 text-[18px] rounded-lg px-4 focus:outline-none " />
          <div *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.invalid"
            class="text-red-500 text-sm">
            <div *ngIf="registerForm.get('email')?.errors?.['required']">Email is required.</div>
            <div *ngIf="registerForm.get('email')?.errors?.['email']">Enter a valid email address.</div>
          </div>
        </div>

        <!-- Phone -->
        <div class="space-y-2 w-full">
          <label class="text-[18px] md:text-[20px] font-medium text-[#374151] flex items-center gap-2">Phone</label>
          <input type="tel" id="phone" autocomplete="off"
            class="w-full py-2 border border-[#9CA3AF] text-gray-600 text-[18px] rounded-lg px-4 focus:outline-none" />
          <div *ngIf="registerForm.get('phone')?.touched && registerForm.get('phone')?.invalid"
            class="text-red-500 text-sm">
            Phone number is required.
          </div>
        </div>

        <!-- Domain -->
        <div class="space-y-2">
          <label class="text-[20px] font-medium text-gray-700 flex items-center gap-2">Domain</label>
          <div class="flex gap-2 items-center">
            <span
              class="py-2 px-3 flex items-center border border-gray-200 rounded-l-lg bg-gray-100 text-gray-600 text-sm">https://</span>
            <input type="text" placeholder="example" formControlName="subdomain"
              class="py-2 w-full border-y border-gray-200 px-4 outline-none  text-sm" />
            <span
              class="py-2 px-3 flex items-center border border-gray-200 rounded-r-lg bg-gray-100 text-gray-600 text-sm">domain.com</span>
          </div>
          <div *ngIf="registerForm.get('subdomain')?.touched && registerForm.get('subdomain')?.invalid"
            class="text-red-500 text-sm">
            <div *ngIf="registerForm.get('subdomain')?.errors?.['required']">Domain is required.</div>
          </div>
        </div>

        <!-- Password -->
        <div class="w-full space-y-2">
          <label class="text-[20px] font-medium text-gray-700 flex items-center gap-2">Password</label>
          <div class="relative">
            <input [type]="showPassword ? 'text' : 'password'" placeholder="••••••••" formControlName="password"
              class="relative w-full py-2 border border-gray-200 rounded-lg px-4 pr-12 outline-none " />
            <i class="absolute top-1/2 transform -translate-y-1/2 text-gray-600 cursor-pointer"
              [ngClass]="[showPassword ? 'fas fa-eye-slash' : 'fas fa-eye', lang === 'ar' ? 'left-3' : 'right-3']"
              (click)="togglePassword()"></i>
          </div>
          <div *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.invalid"
            class="text-red-500 text-sm">
            <div *ngIf="registerForm.get('password')?.errors?.['required']">Password is required.</div>
            <div *ngIf="registerForm.get('password')?.errors?.['minlength']">Minimum length is 8 characters.</div>
            <div *ngIf="registerForm.get('password')?.errors?.['pattern']">
              Password must include:
              <ul class="list-disc pl-5">
                <li>At least one uppercase letter</li>
                <li>One lowercase letter</li>
                <li>One number</li>
                <li>One special character</li>
              </ul>
            </div>
          </div>
        </div>

        <!-- Confirm Password -->
        <div class="w-full mt-[10px] space-y-2">
          <label class="text-[20px] font-medium text-gray-700 flex items-center gap-2">Confirm Password</label>
          <div class="relative">
            <input [type]="showConfirmPassword ? 'text' : 'password'" placeholder="••••••••"
              formControlName="confirmPassword"
              class="relative w-full py-2 border border-gray-200 rounded-lg px-4 pr-12 outline-none " />
            <i class="absolute top-1/2 transform -translate-y-1/2 text-gray-600 cursor-pointer"
              [ngClass]="[showConfirmPassword ? 'fas fa-eye-slash' : 'fas fa-eye', lang === 'ar' ? 'left-3' : 'right-3']"
              (click)="toggleConfirmPassword()"></i>
          </div>
          <div *ngIf="registerForm.get('confirmPassword')?.touched && registerForm.hasError('passwordMismatch')"
            class="text-red-500 text-sm">
            Passwords do not match.
          </div>
          <div
            *ngIf="registerForm.get('confirmPassword')?.touched && registerForm.get('confirmPassword')?.hasError('required')"
            class="text-red-500 text-sm">
            Confirm Password is required.
          </div>
        </div>

        <!-- Remember Me -->
        <div class="flex items-center justify-between">
          <label class="flex items-center gap-2 text-[15px] text-gray-600 cursor-pointer">
            <input type="checkbox" class="form-checkbox border-gray-300 rounded" />
            By signing up, you are agreeing to our Terms and Privacy Policy
          </label>
        </div>

        <!-- Submit -->
        <button type="submit" [disabled]="registerForm.invalid"
        [ngClass]="{ 'opacity-50 cursor-not-allowed ': registerForm.invalid , ' hover:scale-[1.02] ': !registerForm.invalid }"
          class="w-full py-2 bg-primary text-white font-semibold rounded-lg shadow-lg transition-all duration-200 transform ">
          <span class="">Register</span>
        </button>
      </form>



      <div>
        <p class="text-[15px] text-gray-600 mt-4">
          Already have an Account?
          <a routerLink="/login" class="text-primary font-medium">
            Login
          </a>
        </p>
      </div>


    </div>
  </div>

  <div class="w-full h-full content-center hidden md:block">
    <div>
      <div class="flex justify-center items-center rounded-[20px]  ">
        <img loading="lazy"
          class="w-[90%] rounded-[20px] lg:w-[60%] h-[350px] hover:scale-[1.1] transition-all duration-200 ease-in-out "
          src="assets/images/auth/Screenshot 2025-07-04 190119.png" alt="">
      </div>
      <div class="text-white text-center my-[15px] ">
        <p class="text-[18px] lg:text-[25px] font-bold text-primary ">
          Creating an innovative system for restaurants
        </p>
        <p class="text-[15px] lg:text-[20px]">
          Specially designed to meet the needs of all restaurant owners, <br> helping you grow your business and manage
          your operations efficiently and easily.
        </p>
      </div>
    </div>

  </div>

</div>





<!-- --color-primary: #10B981;     /* زر حفظ – تفعيل */
--color-secondary: #F59E0B;   /* زر تنقل – تحذير */
--color-accent: #EF4444;      /* خطأ – حذف */
--color-bg: #F9FAFB;          /* خلفية رئيسية */
--color-text: #1F2937;        /* نص أسود غامق */ -->
