.scrollHidden::-webkit-scrollbar {
  display: none;
}


.iti {
  width: 100%  !important;
}

.iti__flag-container {
  border-right: 1px solid #9CA3AF;
}

.iti__selected-flag {
  padding-left: 10px;
  padding-right: 10px;
  height: 100%;
  display: flex;
  align-items: center;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.iti input {
  width: 100% !important;
  height: 3rem;
  padding-left: 90px !important;
  border-radius: 0.5rem;
  border: none;
  outline: none;
}
