<section>
  <div class="flex justify-between items-center">
    <h1 class="text-[18px] md:text-[22px] font-bold text-gray-800 ">
      <i class="fas fa-sitemap text-white bg-primary rounded-md p-2 "></i>
      SubGroup
    </h1>
    <div class="flex justify-end">
      <button (click)="openPopup()"
        class="p-3  text-[18px] bg-primary text-white hover:bg-blue-800 transition-all duration-200 rounded-[10px] ">
        Add SubGroup +
      </button>
    </div>
  </div>


  <!-- Grid -->
  <div class="grid grid-cols-1 md:grid-cols-2  gap-3 my-[30px] ">
    <div *ngFor="let item of grid"
      class="text-black bg-white text-[20px] shadow-lg font-medium rounded-md p-4 flex justify-between items-center  ">
      <div class="">
        <h3>{{ item.name }}</h3>
        <p> {{ item.value }} </p>
      </div>
      <div>
        <div class="w-fit">
          <i class="{{ item.icon }}  rounded-[10px]  p-3 "
            [ngStyle]="{ 'color': item.color, 'background-color': item.bg }"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-gray-200 shadow-lg rounded-[10px] p-4">
    <div class="mb-[20px]">
      <input type="text" placeholder="Search"
        class="w-full py-2 border border-gray-500 text-gray-600 text-[18px] rounded-lg px-4 focus:outline-none">
    </div>
    <div>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
        <ng-container *ngFor="let group of allGroups">
          <ng-container *ngFor="let sub of group.subGroups">
            <div class="flex justify-between items-center bg-white shadow-lg rounded-[10px] p-4">
              <div>
                <h3 class="text-[18px] md:text-[22px] font-bold text-gray-800">
                  Subgroup: {{ sub.name }}
                </h3>
                <p class="text-[15px] md:text-[18px] font-medium text-gray-600">
                  Main Group: {{ group.name }}
                </p>
                <p class="text-[15px] md:text-[18px] font-medium text-gray-600">
                  Questions: {{ sub.questionsCount || 0 }}
                </p>
              </div>
              <div>
                <div class="w-fit">
                  <button class="btnedit mb-[10px]" title="Edit" (click)="editSubGroup(sub)">
                    <i class="fas fa-edit"></i>
                  </button>
                </div>
                <div class="w-fit">
                  <button class="btndelete" title="Delete" (click)="deleteSubGroup(sub)">
                    <i class="fas fa-trash-alt"></i>
                  </button>
                </div>
              </div>
            </div>
          </ng-container>
        </ng-container>
      </div>

    </div>
  </div>


</section>




<!-- popup -->

<div (click)="closePopup()" class="fixed inset-0 z-50 flex items-center justify-center transition-opacity duration-500"
  [ngClass]="{ 'opacity-100 pointer-events-auto  ': showPopup, 'opacity-0 pointer-events-none': !showPopup }">
  <!-- الخلفية السوداء -->
  <div class="absolute inset-0 bg-gray-900 transition-opacity duration-500"
    [ngClass]="{ 'opacity-50': showPopup, 'opacity-0': !showPopup }"></div>

  <!-- نافذة البوب أب -->
  <div (click)="$event.stopPropagation()"
    class="bg-white rounded-xl shadow-xl p-[20px] transform transition-all duration-500 ease-in-out"
    [ngClass]="{ 'scale-100 opacity-100 w-[95%] md:w-[50%] ': showPopup, 'w-0 scale-95 opacity-0': !showPopup }">
    <!-- رأس النافذة -->
    <div class="relative mb-4">
      <h3 class="text-xl font-semibold text-gray-800">Add New Group</h3>
      <i class="fas fa-times absolute top-0 right-0 bg-gray-300 px-2 py-1 text-gray-800 rounded-[10px] cursor-pointer text-lg"
        (click)="closePopup()"></i>
    </div>

    <!-- النموذج -->
    <form [formGroup]="subGroupForm" (ngSubmit)="onSubmit()">
      <div class="mb-4 space-y-2 ">
        <label class="text-[18px] md:text-[20px] font-medium text-[#374151] flex items-center gap-2">Main Group</label>
        <select formControlName="mainGroupId" name="" id=""
          class="w-full py-2 border border-gray-500 text-gray-600 text-[18px] rounded-lg px-4 outline-none">
          <option value="{{item._id}}" *ngFor="let item of allGroups">{{item.name}}</option>
        </select>
      </div>

      <div class="mb-4 space-y-2">
        <label class="text-[18px] md:text-[20px] font-medium text-[#374151] flex items-center gap-2">SubGroup</label>
        <input type="text" formControlName="name"
          class="w-full h-12 border border-[#9CA3AF] text-gray-600 text-[18px] rounded-lg px-4 focus:outline-none ">
      </div>
      <button type="submit" [disabled]="subGroupForm.invalid"
        [ngClass]="{ 'opacity-50 cursor-not-allowed ': subGroupForm.invalid , ' hover:scale-[1.02] ': !subGroupForm.invalid }"
        class="w-[60%] md:w-[30%] text-[18px] md:text-[22px] font-medium bg-primary text-white py-2 px-4 rounded-lg">
        <i class="fas fa-save mx-[10px] "></i> {{ isEditMode ? 'Update' : 'Add' }}
      </button>
      <button (click)="closePopup()" class="mx-[12px] text-[18px] md:text-[22px] font-medium bg-gray-300 text-gray-800 py-2 px-4 rounded-lg">
        Close
      </button>
    </form>
  </div>
</div>
