<section>
  <div>
    <h3 class="text-[18px] md:text-[25px] font-bold text-primaryTitle">
      <i class="fas fa-cogs text-white bg-primary rounded-md p-2 "></i>
      Settings
    </h3>
  </div>

  <div class="my-[30px] bg-gray-200 shadow-lg rounded-[10px] p-4">

    <!-- 🔹 التبويبات -->
    <div class="flex gap-4 justify-start mb-6 border-b border-gray-500">
      <button (click)="activeTab = 'colors'" [ngClass]="{
        'text-blue-600 bg-white': activeTab === 'colors',
        'text-gray-600 hover:bg-blue-500 hover:text-white': activeTab !== 'colors'
      }" class="px-4 py-1 rounded-tl-md rounded-tr-md font-medium transition duration-200">
        1 Colors
      </button>

      <button (click)="activeTab = 'messages'" [ngClass]="{
        'text-blue-600 bg-white': activeTab === 'messages',
        'text-gray-600 hover:bg-blue-500 hover:text-white': activeTab !== 'messages'
      }" class="px-4 py-1 rounded-tl-md rounded-tr-md font-medium transition duration-200">
        2 Message
      </button>

      <button (click)="activeTab = 'email'" [ngClass]="{
        'text-blue-600 bg-white': activeTab === 'email',
        'text-gray-600 hover:bg-blue-500 hover:text-white': activeTab !== 'email'
      }" class="px-4 py-1 rounded-tl-md rounded-tr-md font-medium transition duration-200">
        3 Email
      </button>

      <button (click)="activeTab = 'addScreen'" [ngClass]="{
        'text-blue-600 bg-white': activeTab === 'addScreen',
        'text-gray-600 hover:bg-blue-500 hover:text-white': activeTab !== 'addScreen'
      }" class="px-4 py-1 rounded-tl-md rounded-tr-md font-medium transition duration-200">
        4 Add Mail Screen
      </button>

      <button (click)="activeTab = 'general'" [ngClass]="{
        'text-blue-600 bg-white': activeTab === 'general',
        'text-gray-600 hover:bg-blue-500 hover:text-white': activeTab !== 'general'
      }" class="px-4 py-1 rounded-tl-md rounded-tr-md font-medium transition duration-200">
        5 General
      </button>
    </div>

    <!-- 🔹 محتوى التبويبات -->
    <div *ngIf="activeTab === 'colors'" class="">
      <h2 class="text-[14px] md:text-[18px] font-bold mb-4 text-textInput">
        Manage color list
      </h2>
      <p class="text-[12px] md:text-[16px] text-gray-600">
        Here you can view and manage colors.
      </p>
      <div>

        <div *ngFor="let range of colorRanges; let i = index" class="flex gap-4 my-[30px] px-[20px]">
          <div class="flex flex-col gap-2">
            <label class="text-[12px] md:text-[16px] font-medium text-gray-600">Percentage from</label>
            <input type="number" [(ngModel)]="range.from"
              class="outline-none border border-gray-400 ps-3 py-1 rounded-md">
          </div>

          <div class="flex flex-col gap-2">
            <label class="text-[12px] md:text-[16px] font-medium text-gray-600">Percentage to</label>
            <input type="number" [(ngModel)]="range.to"
              class="outline-none border border-gray-400 ps-3 py-1 rounded-md">
          </div>

          <div class="flex flex-col gap-2">
            <label class="text-[12px] md:text-[16px] font-medium text-gray-600">Percentage to</label>
            <input type="color" [(ngModel)]="range.color"
              class="w-[200px] outline-none border border-gray-400 px-3 py-1 rounded-md">
          </div>

          <div class="flex justify-center flex-col gap-2">
            <button (click)="removeColorRange(i)"
              class="mx-[20px] text-[12px] md:text-[16px] bg-red-500 text-white py-2 px-4 rounded-lg">
              <i class="fas fa-trash"></i>
            </button>
          </div>
        </div>

        <div>
          <button type="submit"
            class="w-full md:w-[20%] text-[15px] md:text-[18px] font-medium bg-primary text-white py-2 px-4 rounded-lg">
            <i class="fas fa-save mx-[10px]"></i> Save
          </button>

          <button (click)="addColorRange()"
            class="ms-[12px] w-full md:w-[20%] text-[15px] md:text-[18px] font-medium bg-green-500 text-white py-2 px-4 rounded-lg">
            Add Color +
          </button>
        </div>

      </div>

      <!-- جدول الألوان -->
    </div>

    <div *ngIf="activeTab === 'messages'" class="">
      <div class="">
        <h2 class="text-[14px] md:text-[18px] font-bold mb-4 text-textInput">
          Message list content
        </h2>
      </div>
    </div>

    <div *ngIf="activeTab === 'email'" class="">
      <div class="text-center">
        <h2 class="text-[14px] md:text-[18px] font-bold mb-4 text-textInput">
          Assign locations to managers
        </h2>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div class="bg-white shadow-lg rounded-[10px] p-4">
          <h4 class="text-[16px] md:text-[20px] font-bold text-gray-500 text-center ">
            Mohamed
          </h4>
          <div class="">
            <div>
              <input type="checkbox" name="" id="" class="me-[10px]">cook door
            </div>
            <div>
              <input type="checkbox" name="" id="" class="me-[10px]">moods
            </div>
          </div>
        </div>
      </div>
      <div class="mt-[20px]">
        <button type="submit"
          class="w-full md:w-[20%] text-[15px] md:text-[18px] font-medium bg-primary text-white py-2 px-4 rounded-lg">
          <i class="fas fa-save mx-[10px]"></i> Save
        </button>
      </div>
    </div>

    <div *ngIf="activeTab === 'addScreen'" class="">
      <div class="bg-white shadow-lg rounded-[10px] p-4">
        <div class="flex justify-between ">
          <h4 class="text-[16px] md:text-[20px] font-bold text-gray-500">
            Mail screen
          </h4>
          <div>
            <button (click)="openPopup()"
              class=" text-[15px] md:text-[18px] font-medium bg-primary text-white py-2 px-4 rounded-lg">
              Add +
            </button>
          </div>
        </div>
        <div>
          <div class="overflow-x-auto py-4">
            <table class="min-w-full bg-white border border-gray-200 rounded-lg shadow-md">
              <thead>
                <tr class="bg-gray-900 text-gray-100 text-center whitespace-nowrap">
                  <th class="py-3 px-4 border-b ">#</th>
                  <th class="py-3 px-4 border-b">Name</th>
                  <th class="py-3 px-4 border-b">Main Group</th>
                  <th class="py-3 px-4 border-b">Quetions</th>
                  <th class="py-3 px-4 border-b">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr class="hover:bg-gray-50 transition text-center whitespace-nowrap">
                  <td class="py-3 px-4 border-b">1</td>
                  <td class="py-3 px-4 border-b">Mohamed</td>
                  <td class="py-3 px-4 border-b">Cook Door</td>
                  <td class="py-3 px-4 border-b">
                    <div class="flex items-center justify-center gap-3 ">
                      <button class="text-blue-500 hover:text-blue-700" title="View">
                        <i class="fas fa-eye"></i>
                      </button>
                    </div>
                  </td>
                  <td class="py-3 px-4 border-b space-x-3">
                    <div class="flex items-center justify-center gap-3 ">
                      <button class="text-green-500 hover:text-green-700 mx-[5px] " title="Edit">
                        <i class="fas fa-edit"></i>
                      </button>
                      <button class="text-red-500 hover:text-red-700" title="Delete">
                        <i class="fas fa-trash-alt"></i>
                      </button>

                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="activeTab === 'general'" class="">
      <div class="">
        <h2 class="text-[14px] md:text-[18px] font-bold mb-4 text-textInput">
          General equipment
        </h2>
      </div>
      <div class="my-[20px]" >
        <form action="" class="flex flex-col" >
          <label for="" class="text-[12px] md:text-[16px] font-medium" >  Negative Ratio</label>
          <input type="number" name="" id=""
          class="outline-none border border-gray-400 mt-[10px] ps-3 py-1 rounded-md">

          <button class="mt-[20px] w-full md:w-[20%] text-[15px] md:text-[18px] font-medium bg-primary text-white py-2 px-4 rounded-lg" >
            <i class="fas fa-save mx-[10px]"></i> Save
          </button>

        </form>
      </div>
    </div>
  </div>

</section>





<!-- popup -->

<div class="fixed inset-0 z-50 flex items-center justify-center transition-opacity duration-500"
  [ngClass]="{ 'opacity-100 pointer-events-auto  ': showPopup, 'opacity-0 pointer-events-none': !showPopup }">
  <!-- الخلفية السوداء -->
  <div (click)="closePopup()" class="absolute inset-0 bg-gray-900 transition-opacity duration-500"
    [ngClass]="{ 'opacity-50': showPopup, 'opacity-0': !showPopup }"></div>

  <!-- نافذة البوب أب -->
  <div class="bg-white rounded-xl shadow-xl p-[20px] transform transition-all duration-500 ease-in-out"
    [ngClass]="{ 'scale-100 opacity-100 w-[95%] md:w-[50%] ': showPopup, 'w-0 scale-95 opacity-0': !showPopup }">
    <!-- رأس النافذة -->
    <div class="relative mb-4">
      <h3 class="text-xl font-semibold text-primaryTitle">Add New Rate</h3>
      <i class="fas fa-times absolute top-0 right-0 bg-gray-300 px-2 py-1 text-primaryTitle rounded-[10px] cursor-pointer text-lg"
        (click)="closePopup()"></i>
    </div>

    <!-- النموذج -->
    <form>
      <div class=" mb-[10px] grid grid-cols-1 md:grid-cols-2 gap-4">
        <div class="  ">
          <label for="" class="block text-textInput font-medium mb-1">
            Manager
          </label>
          <select class="w-full border rounded-lg px-2 py-2 text-textInput outline-none ">
            <option value="" disabled selected>Choose Manager</option>
            <option value="">Mohamed</option>
            <option value="">Ali</option>
          </select>
        </div>
        <div class="  ">
          <!-- <label for="" class="block text-textInput font-medium mb-1">Locations
          </label>
          <select class="w-full border rounded-lg px-2 py-2 text-textInput outline-none ">
            <option value="" disabled selected>Choose Location</option>
            <option value="">Cook Door</option>
            <option value="">Moods</option>
          </select> -->

          <div class="w-full" #powersBox>
            <label class="block text-textInput font-medium mb-1">
              Location
            </label>
            <div class="relative w-full py-2 border  text-gray-600 text-[18px] rounded-lg px-2 focus:outline-none">
              <div (click)="toggleDropdownPowers()"
                class="w-full flex flex-wrap items-center gap-2 cursor-pointer bg-white">
                <span *ngFor="let item of selectedPowers"
                  class="flex items-center bg-blue-100 text-blue-700 text-sm px-2 py-1 rounded-full">
                  {{ item }}
                  <button (click)="removePower(item); $event.stopPropagation()"
                    class="mx-2 text-red-500 hover:text-red-700 text-xs">
                    &times;
                  </button>
                </span>
                <span *ngIf="selectedPowers.length === 0" class="text-gray-400 text-sm">Select options...</span>
              </div>
              <ul *ngIf="dropdownOpenPowers"
                class="absolute z-50 mt-1 w-full bg-white border border-gray-200 rounded-md shadow-md  overflow-auto">
                <li *ngFor="let option of allOptionsPowers" (click)="selectPower(option)"
                  [class.opacity-50]="isPowerSelected(option)" [class.pointer-events-none]="isPowerSelected(option)"
                  class="px-4 py-2 text-sm hover:bg-gray-100 cursor-pointer">
                  {{ option }}
                </li>
              </ul>
            </div>
          </div>

        </div>
      </div>



      <div class=" mb-[10px] grid grid-cols-1 md:grid-cols-2 gap-4">
        <!-- اختيار المجموعة -->
        <div class="">
          <label class="block text-textInput font-medium mb-1">Main Group</label>
          <select class="w-full border rounded-lg px-2 py-2 text-textInput outline-none " [(ngModel)]="selectedGroup"
            name="mainGroup" (change)="onGroupChange()" required>
            <option value="" disabled selected>Select Main Group</option>
            <option *ngFor="let group of mainGroups" [value]="group.name">{{ group.name }}</option>
          </select>
        </div>

        <!-- اختيار المجموعة الفرعية -->
        <div class="">
          <label class="block text-textInput font-medium mb-1">Sub Group</label>
          <select class="w-full border rounded-lg px-2 py-2 text-textInput outline-none " [(ngModel)]="selectedSubGroup"
            name="subGroup" required>
            <option value="" disabled selected>Select Sub Group</option>
            <option *ngFor="let sub of filteredSubGroups" [value]="sub">{{ sub }}</option>
          </select>
        </div>
      </div>

      <div class=" mb-[10px] ">
        <div class="  ">
          <label for="" class="block text-textInput font-medium mb-1">Locations
          </label>
          <select class="w-full border rounded-lg px-2 py-2 text-textInput outline-none ">
            <option value="" selected>All</option>
            <option value="">Negative</option>
            <option value="">Positive</option>
          </select>
        </div>
      </div>
      <button type="submit"
        class="w-[60%] md:w-[20%] text-[18px] md:text-[22px] font-medium bg-primary text-white py-2 px-4 rounded-lg">
        <i class="fas fa-save mx-[10px] "></i> Save
      </button>
      <button (click)="closePopup()"
        class="mx-[12px] text-[18px] md:text-[22px] font-medium bg-gray-300 text-primaryTitle py-2 px-4 rounded-lg">
        Close
      </button>
    </form>
  </div>
</div>
