<div class=" h-[100vh] flex items-center bg-gray-800 justify-between relative">



  <div class=" w-full md:w-[70%] lg:w-[50%] h-full relative z-10 bg-white ">

    <!-- Login Card -->
    <div class=" w-[90%]  mx-auto p-6">
      <div class="flex justify-center">
        <img class=" w-[180px]  " src="assets/images/auth/logo.webp" alt="Logo Image">
      </div>

      <h2
        class="text-[#374151] text-[18px] md:text-[18px] lg:text-[25px] leading-[30px] font-bold text-center my-[8px]">
        Forgot your password?
      </h2>
      <!-- <p class="text-center text-[16px] md:text-[20px] text-[#4B5563] mb-4">
        Forgot your password?
      </p> -->

      <form [formGroup]="loginForm" (ngSubmit)="ForgetPass()" class="">

        <div class="w-full space-y-2 " >
          <label class="text-[20px] font-medium text-gray-700 flex items-center gap-2">Code</label>
          <input type="text" placeholder="Code" formControlName="code"
            class="w-full py-2 border border-gray-200 rounded-lg px-4 pr-12 outline-none" />
          <div *ngIf="loginForm.get('code')?.touched && loginForm.get('code')?.invalid"
            class="text-red-500 text-sm">
            <div *ngIf="loginForm.get('code')?.errors?.['required']">Code is required.</div>
          </div>
        </div>

        <div class="w-full space-y-2 mb-[25px] ">
          <label class="text-[20px] font-medium text-gray-700 flex items-center gap-2">Password</label>
          <div class="relative">
            <input [type]="showPassword ? 'text' : 'password'" placeholder="••••••••" formControlName="password"
              class="relative w-full py-2 border border-gray-200 rounded-lg px-4 pr-12 outline-none" />
            <i class="absolute top-1/2 transform -translate-y-1/2 text-gray-600 cursor-pointer"
              [ngClass]="[showPassword ? 'fas fa-eye-slash' : 'fas fa-eye', lang === 'ar' ? 'left-3' : 'right-3']"
              (click)="togglePassword()"></i>
          </div>
          <div *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid"
            class="text-red-500 text-sm">
            <div *ngIf="loginForm.get('password')?.errors?.['required']">Password is required.</div>
            <div *ngIf="loginForm.get('password')?.errors?.['minlength']">Minimum length is 8 characters.</div>
            <div *ngIf="loginForm.get('password')?.errors?.['pattern']">
              Password must include:
              <ul class="list-disc pl-5">
                <li>At least one uppercase letter</li>
                <li>One lowercase letter</li>
                <li>One number</li>
                <li>One special character</li>
              </ul>
            </div>
          </div>
        </div>

        <!-- <div>
        <p>
          <a routerLink="/forgetpass" class="text-indigo-600 hover:underline">Forget password?</a>
        </p>
      </div> -->

        <!-- Submit -->
        <button type="submit" [disabled]="loginForm.invalid"
          class="w-full cursor-pointer bg-indigo-600 outline-none disabled:cursor-not-allowed disabled:opacity-[0.5] mb-[10px] disabled:hover:bg-indigo-600 text-white py-2 rounded-lg font-semibold hover:bg-indigo-700 transition">
          Verify
        </button>


        <button type="button" routerLink="/login"
          class="bg-gray-500 w-full cursor-pointer outline-none text-white py-2 rounded-lg hover:bg-gray-600 transition">
          Cancel
        </button>

      </form>


    </div>
  </div>

  <div class="w-full h-full content-center hidden md:block">
    <div>
      <div class="flex justify-center items-center rounded-[20px]  ">
        <img loading="lazy"
          class="w-[90%] rounded-[20px] lg:w-[60%] h-[350px] hover:scale-[1.1] transition-all duration-200 ease-in-out "
          src="assets/images/auth/Screenshot 2025-07-04 190119.png" alt="">
      </div>
      <div class="text-white text-center my-[15px] ">
        <p class="text-[18px] lg:text-[25px] font-bold text-primary ">
          Creating an innovative system for restaurants
        </p>
        <p class="text-[15px] lg:text-[20px]">
          Specially designed to meet the needs of all restaurant owners, <br> helping you grow your business and manage
          your operations efficiently and easily.
        </p>
      </div>
    </div>

  </div>
</div>


<!-- --color-primary: #10B981;     /* زر حفظ – تفعيل */
--color-secondary: #F59E0B;   /* زر تنقل – تحذير */
--color-accent: #EF4444;      /* خطأ – حذف */
--color-bg: #F9FAFB;          /* خلفية رئيسية */
--color-text: #1F2937;        /* نص أسود غامق */ -->
