<section>
  <div class="flex justify-between items-center">
    <h1 class="text-[18px] md:text-[22px] font-bold text-primaryTitle ">
      <i class="fas fa-map-marker-alt text-white bg-primary rounded-md p-2 "></i>
      Sites
    </h1>
    <div class="flex justify-end">
      <button (click)="openPopup()"
        class="p-3  text-[18px] bg-primary text-white hover:bg-blue-800 transition-all duration-200 rounded-[10px] ">
        Add Site +
      </button>
    </div>
  </div>

  <div
    class="text-black bg-white text-[20px] shadow-lg font-medium rounded-md p-4 flex justify-between items-center my-[30px] ">
    <div class="">
      <h3>Sites</h3>
      <p> {{totalBrances}} </p>
    </div>
    <div>
      <div class="w-fit">
        <i class="fas fa-map-marker-alt bg-[#F0EBEB] text-[#F97316] rounded-[10px]  p-3 "></i>
      </div>
    </div>
  </div>

  <div class=" bg-white shadow-lg rounded-[10px] p-4 ">

    <div class="flex flex-col md:flex-row justify-between items-center gap-3 mb-[20px]">
      <div class="w-full">
        <label for="" class="text-[18px] md:text-[20px] font-medium text-[#374151]">Country</label>
        <select [(ngModel)]="selectedCountryCode" (change)="onCountryChange(selectedCountryCode)"
          class="w-full py-2 border border-gray-500 text-gray-600 text-[18px] rounded-lg px-4 focus:outline-none">
          <option value="" disabled selected>Choose Country</option>
          <option *ngFor="let country of countries" [value]="country.isoCode">
            {{ country.name }}
          </option>
        </select>
      </div>
      <div class="w-full">
        <label for="" class="text-[18px] md:text-[20px] font-medium text-[#374151]">City</label>
        <select [(ngModel)]="selectedCity"
          class="w-full py-2 border border-gray-500 text-gray-600 text-[18px] rounded-lg px-4 focus:outline-none">
          <option value="" disabled selected>Choose City</option>
          <option *ngFor="let city of cities" [value]="city.name">
            {{ city.name }}
          </option>
        </select>
      </div>
    </div>

    <div class="flex flex-col-reverse sm:flex-row justify-between items-center gap-3 mb-[20px] ">
      <!-- <div class="text-[15px] md:text-[18px] flex items-center gap-2 w-full ">
        <p class=" ">
          Show
        </p>
        <div class="border  border-gray-200 rounded-[10px] py-2">
          <select name="" id="" class="outline-none px-[10px]">
            <option value="">10</option>
            <option value="">20</option>
            <option value="">30</option>
          </select>
        </div>
        <p>
          Input
        </p>
      </div> -->
      <div class="flex items-center justify-start gap-2 w-full ">
        <p class=" text-[15px] md:text-[18px] ">
          Search
        </p>
        <input type="text" placeholder="Search By Site Name"
          class="border border-gray-200 outline-none w-full rounded-[10px] px-4 py-2" [(ngModel)]="searchTerm" />

      </div>
    </div>

    <hr class="my-[5px] bg-gray-300 w-full h-[2px]">
    <!-- Table -->
    <div class="overflow-x-auto py-4">
      <table class="min-w-full bg-white border border-gray-200 rounded-lg shadow-md">
        <thead>
          <tr class="bg-gray-900 text-gray-100 text-center whitespace-nowrap">
            <th class="py-3 px-4 border-b ">#</th>
            <th class="py-3 px-4 border-b">Site Number</th>
            <th class="py-3 px-4 border-b">Site Name </th>
            <th class="py-3 px-4 border-b">Country</th>
            <th class="py-3 px-4 border-b">City </th>
            <th class="py-3 px-4 border-b">Site Phone</th>
            <th class="py-3 px-4 border-b">Address</th>
            <th class="py-3 px-4 border-b">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let branch of searchedBrances; let i = index"
            class="hover:bg-gray-50 transition text-center whitespace-nowrap">
            <!-- <td class="py-3 px-4 border-b">{{ (currentPage - 1) * itemsPerPage + i + 1 }}</td> -->
            <td class="py-3 px-4 border-b">{{ i + 1 }}</td>
            <td class="py-3 px-4 border-b">{{ branch.branchCode }}</td>
            <td class="py-3 px-4 border-b">{{ branch.branchName }}</td>
            <td class="py-3 px-4 border-b">{{ branch.country }}</td>
            <td class="py-3 px-4 border-b">{{ branch.city }}</td>
            <td class="py-3 px-4 border-b">{{ branch.phone }}</td>
            <td class="py-3 px-4 border-b">{{ branch.address }}</td>
            <td class="py-3 px-4 border-b">
              <div class="flex items-center justify-center gap-3">
                <button (click)="editBranch(branch)" class="text-green-500 hover:text-green-700 mx-[5px]" title="Edit">
                  <i class="fas fa-edit"></i>
                </button>
                <button (click)="deleteBranch(branch._id)" class="text-red-500 hover:text-red-700" title="Delete">
                  <i class="fas fa-trash-alt"></i>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- pagination -->
    <div class="flex flex-col-reverse sm:flex-row gap-3 justify-between items-center space-x-1 mt-6">
      <div class="flex justify-center items-center space-x-1">
        <!-- Prev Button -->
        <button (click)="goToPage(currentPage - 1)" [disabled]="currentPage === 1"
          class="px-3 py-1 rounded-md border border-gray-300 text-gray-600 hover:bg-gray-100 disabled:opacity-50">
          Prev
        </button>

        <!-- Dynamic Page Buttons -->
        <ng-container *ngFor="let page of getDisplayedPages()">
          <button (click)="goToPage(page)" [class.bg-blue-600]="currentPage === page"
            [class.text-white]="currentPage === page"
            class="px-3 py-1 rounded-md border border-gray-300 text-gray-600 hover:bg-blue-500 hover:text-white transition-colors duration-300">
            {{ page }}
          </button>
        </ng-container>

        <!-- Next Button -->
        <button (click)="goToPage(currentPage + 1)" [disabled]="currentPage === totalPages"
          class="px-3 py-1 rounded-md border border-gray-300 text-gray-600 hover:bg-gray-100 disabled:opacity-50">
          Next
        </button>
      </div>

      <div>
        <p>
          Page {{ currentPage }} of {{ totalPages }}
        </p>
      </div>
    </div>

  </div>

</section>




<!-- popup -->

<div class="fixed inset-0 z-50 flex items-center justify-center transition-opacity duration-500"
  [ngClass]="{ 'opacity-100 pointer-events-auto  ': showPopup, 'opacity-0 pointer-events-none': !showPopup }">
  <!-- الخلفية السوداء -->
  <div (click)="closePopup()" class="absolute inset-0 bg-gray-900 transition-opacity duration-500"
    [ngClass]="{ 'opacity-50': showPopup, 'opacity-0': !showPopup }"></div>

  <!-- نافذة البوب أب -->
  <div class="bg-white rounded-xl shadow-xl p-[20px] transform transition-all duration-500 ease-in-out"
    [ngClass]="{ 'scale-100 opacity-100 w-[95%] md:w-[70%] ': showPopup, 'w-0 scale-95 opacity-0': !showPopup }">
    <!-- رأس النافذة -->
    <div class="relative mb-4">
      <h3 class="text-xl font-semibold text-primaryTitle">Add New Site</h3>
      <i class="fas fa-times absolute top-0 right-0 bg-gray-300 px-2 py-1 text-primaryTitle rounded-[10px] cursor-pointer text-lg"
        (click)="closePopup()"></i>
    </div>

    <form [formGroup]="branchForm" (ngSubmit)="onSubmit()">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-3">

        <!-- Site Number -->
        <div>
          <label class="text-[18px] md:text-[20px] font-medium text-[#374151]">Site Number</label>
          <input type="number" placeholder="Enter Site Number" formControlName="branchCode"
            class="w-full py-2 border border-gray-500 text-gray-600 text-[18px] rounded-lg px-4 focus:outline-none">
          <div class="text-red-600 text-sm mt-1"
            *ngIf="branchForm.get('branchCode')?.touched && branchForm.get('branchCode')?.invalid">
            Site Number is required
          </div>
        </div>

        <!-- Site Name -->
        <div>
          <label class="text-[18px] md:text-[20px] font-medium text-[#374151]">Site Name</label>
          <input type="text" placeholder="Enter Site Name" formControlName="branchName"
            class="w-full py-2 border border-gray-500 text-gray-600 text-[18px] rounded-lg px-4 focus:outline-none">
          <div class="text-red-600 text-sm mt-1"
            *ngIf="branchForm.get('branchName')?.touched && branchForm.get('branchName')?.invalid">
            Site Name is required
          </div>
        </div>

        <!-- Country -->
        <div>
          <label class="text-[18px] md:text-[20px] font-medium text-[#374151]">Country</label>
          <select [(ngModel)]="selectedCountryCodeform" (change)="onCountryChangeform(selectedCountryCodeform)"
            formControlName="country"
            class="w-full py-2 border border-gray-500 text-gray-600 text-[18px] rounded-lg px-4 focus:outline-none">
            <option value="" disabled>Choose Country</option>
            <option *ngFor="let country of countriesform" [value]="country.isoCode">
              {{ country.name }}
            </option>
          </select>
          <div class="text-red-600 text-sm mt-1"
            *ngIf="branchForm.get('country')?.touched && branchForm.get('country')?.invalid">
            Country is required
          </div>
        </div>

        <!-- City -->
        <div>
          <label class="text-[18px] md:text-[20px] font-medium text-[#374151]">City</label>
          <select [(ngModel)]="selectedCityform" formControlName="city"
            class="w-full py-2 border border-gray-500 text-gray-600 text-[18px] rounded-lg px-4 focus:outline-none">
            <option value="" disabled>Choose City</option>
            <option *ngFor="let city of citiesform" [value]="city.name">
              {{ city.name }}
            </option>
          </select>
          <div class="text-red-600 text-sm mt-1"
            *ngIf="branchForm.get('city')?.touched && branchForm.get('city')?.invalid">
            City is required
          </div>
        </div>

        <!-- Site Phone -->
        <div>
          <label class="text-[18px] md:text-[20px] font-medium text-[#374151]">Site Phone</label>
          <input type="number" placeholder="Enter Site Phone" formControlName="phone"
            class="w-full py-2 border border-gray-500 text-gray-600 text-[18px] rounded-lg px-4 focus:outline-none">
          <div class="text-red-600 text-sm mt-1"
            *ngIf="branchForm.get('phone')?.touched && branchForm.get('phone')?.invalid">
            Phone is required
          </div>
        </div>

        <!-- Site Address -->
        <div>
          <label class="text-[18px] md:text-[20px] font-medium text-[#374151]">Site Address</label>
          <input type="text" placeholder="Enter Site Address" formControlName="address"
            class="w-full py-2 border border-gray-500 text-gray-600 text-[18px] rounded-lg px-4 focus:outline-none">
          <div class="text-red-600 text-sm mt-1"
            *ngIf="branchForm.get('address')?.touched && branchForm.get('address')?.invalid">
            Address is required
          </div>
        </div>

      </div>

      <!-- Submit Button -->
      <div class="mt-[15px]">
        <button type="submit"
          class="w-full md:w-[20%] text-[18px] md:text-[22px] font-medium bg-primary text-white py-2 px-4 rounded-lg">
          <i class="fas fa-save mx-[10px]"></i> Save
        </button>
      </div>
    </form>

  </div>
</div>
