<section>

  <div>
    <h3  class="text-[18px] md:text-[25px] font-bold text-gray-800">
      The mission : Task 1
    </h3>
  </div>

  <div class="min-w-full overflow-x-auto py-4">
    <table class="min-w-full bg-white border border-gray-200 rounded-lg shadow-md">
      <thead>
        <tr class="bg-gray-900 text-gray-100 text-center whitespace-nowrap">
          <th class="py-3 px-4 border-b ">#</th>
          <th class="py-3 px-4 border-b ">Quetion</th>
          <th class="py-3 px-4 border-b">Event</th>
          <th class="py-3 px-4 border-b">Additional details</th>
        </tr>
      </thead>
      <tbody>
        <tr  class="hover:bg-gray-50 transition text-center whitespace-nowrap">
          <td class="py-3 px-4 border-b">
            1
          </td>
          <td class="py-3 px-4 border-b">
            Do you eat breakfast every day?
          </td>
          <td class="py-3 px-4 border-b">
            <div class="flex items-center justify-center gap-3 " >
              <p class="px-[15px] py-[3px] text-[15px] md:text-[18px] font-medium bg-gray-500 text-white rounded-[10px] " >
                New
              </p>
              <p class="px-[15px] py-[3px] text-[15px] md:text-[18px] font-medium bg-cyan-500 text-white rounded-[10px] " >
                In Progress
              </p>
              <p class="px-[15px] py-[3px] text-[15px] md:text-[18px] font-medium bg-gray-500 text-white rounded-[10px] " >
                Completed
              </p>
            </div>
          </td>
          <td class="py-3 px-4 border-b">
            <p class=" text-gray-400" >
              Nothing
            </p>
          </td>
        </tr>
        <tr  class="hover:bg-gray-50 transition text-center whitespace-nowrap">
          <td class="py-3 px-4 border-b">
            1
          </td>
          <td class="py-3 px-4 border-b">
            Do you eat breakfast every day?
          </td>
          <td class="py-3 px-4 border-b">
            <div class="flex items-center justify-center gap-3 " >
              <p class="px-[15px] py-[3px] text-[15px] md:text-[18px] font-medium bg-gray-500 text-white rounded-[10px] " >
                New
              </p>
              <p class="px-[15px] py-[3px] text-[15px] md:text-[18px] font-medium bg-gray-500 text-white rounded-[10px] " >
                In Progress
              </p>
              <p class="px-[15px] py-[3px] text-[15px] md:text-[18px] font-medium bg-cyan-500 text-white rounded-[10px] " >
                Completed
              </p>
            </div>
          </td>
          <td class="py-3 px-4 border-b">
            <p class=" text-gray-400" >
              Nothing
            </p>
          </td>
        </tr>

      </tbody>
    </table>
  </div>
</section>
