<section>
  <div class="bg-white shadow-lg rounded-[10px] p-4">

    <div class="flex justify-between items-center">
      <h1 class="text-[18px] md:text-[22px] font-bold text-gray-800">
        <!-- <i class="fas fa-user-shield text-white bg-primary rounded-md p-2 "></i> -->
        Create Powers
      </h1>
      <!-- <div class="flex justify-end">
        <button routerLink="/createpowers"
          class="p-3  text-[18px] bg-primary text-white hover:bg-blue-800 transition-all duration-200 rounded-[10px] ">
          Back To Powers
        </button>
      </div> -->
    </div>


    <div class="my-[30px]">
      <form action="">
        <label for="" class="text-[18px] md:text-[20px] font-medium text-[#374151] flex items-center gap-2">Name</label>
        <input type="text"
          class="w-full h-12 border border-[#9CA3AF] text-gray-600 text-[18px] rounded-lg px-4 focus:outline-none ">
        <button type="submit"
          class="w-full md:w-[20%] text-[18px] mt-[20px] md:text-[22px] font-medium bg-primary text-white py-2 px-4 rounded-lg">
          <i class="fas fa-save mx-[10px] "></i> Save
        </button>
      </form>
    </div>

  </div>
</section>








