/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  /* bg-gradient-to-br from-orange-50 via-amber-50 to-yellow-50 */
  background: linear-gradient(to bottom, #f9f9f9, #f9f9f9);
}



.iti {
  width: 100%  !important;
}

.iti__flag-container {
  border-right: 1px solid #9CA3AF  !important;
}

.iti__selected-country{
  border-right: 2px solid #9CA3AF  !important;
  padding-right: 5px !important;
}



/* .swal2-confirm {
  display: inline-block !important;
  opacity: 1 !important;
  visibility: visible !important;
}

button {
  opacity: 1 !important;
} */

.myError {
  background-color: #d33 !important;
  color: white !important;
}
.mySuccess {
  background-color: #28a745 !important;
  color: white !important;
}
.mywarning {
  background-color: #4cc3eb !important;
  color: white !important;
}

.btndelete {
  /* bg-red-500 text-white hover:bg-red-700 py-[5px] text-[14px] px-[22px] rounded-[10px] */
  background: #dc2626;
  color: white;
  font-size: 14px;
  padding: 5px 22px;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
}
.btndelete:hover {
  background: #ef4444;
}
.btnedit {
  /* bg-green-500 text-white hover:bg-green-700 mb-[10px] py-[5px] text-[14px] px-[20px] rounded-[10px] */
  background: #16a34a;
  color: white;
  font-size: 14px;
  padding: 5px 20px;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
}
.btnedit:hover {
  background: #22c55e;
}
